@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
*{
     margin: 0;
     padding: 0;
     box-shadow: 0;
}

:root{
     --regular-font: "Outfit", sans-serif;
     --bold-font: "Archivo", sans-serif;
     --main-color: #f7901E;
     --secondary-color: #004250;
}

body{
      background: #fffaf5;
}

body,
input,
textarea,
button{
     font-family: var(--regular-font);
}

ul{
     list-style: none;
}

a{
     text-decoration: none;
}

img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}

/* Utils */
.inner-row{
     width: 1280px;
     margin: auto;
}

.logo{
     width: 200px;
     display: block;
}

.header-content{
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.header-content ul{
     display: flex;
     gap: 50px;
}
.header-content ul li a{
      cursor: pointer;
      position: relative;
      display: inline-flex;
      padding-bottom: 10px;
}
.header-content ul li a:hover,
.header-content ul li a.active{
     color: var(--main-color);

}

.header-content ul li a::after{
      content: "";
      width: 100%;
      height: 0px;
      background: var(--main-color);
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
}
.header-content ul li a:hover::after,
.header-content ul li a.active::after{
      height: 2px;
}
.header-action a{
     width: 200px;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 55px;
     color: whitesmoke;
     background: var(--main-color);
}

